@media (max-width: 560px) {

    body {
        align-items: flex-start;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
        color: #ffff;
        font-size: 20px;
    }
   
    .container {
        width: 100%;
        height: 100vh;
        max-width: none;
        padding: 20px 15px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(100px);
    }

    .wrapper h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .input-box input {
        height: 50px;
    }
    .floating-label input {
        font-size: 16px; 
    }
    .task {
        padding: 15px;
        margin-right: 10px;
    }
}